@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    List<Sistema.Models.ProveedorModel> proveedores = ViewBag.proveedores;
}

<div class="card">
    <div class="card-header">Proveedores</div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Proveedor" class="btn btn-primary">Agregar</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Fecha registro</th>
                    <th>Opción</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var proveedor in proveedores)
                {
                    <tr>
                        <td>@proveedor.Nombre</td>
                        <td>@proveedor.Direccion</td>
                        <td>@proveedor.Telefono</td>
                        <td>@proveedor.Fecha_registro</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Proveedor" asp-route-IdProveedor="@proveedor.Id" class="btn btn-info" role="button">Editar</a>
                            <a asp-action="Borrar" asp-controller="Proveedor" asp-route-IdProveedor="@proveedor.Id" class="btn btn-danger" role="button">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>